<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
	<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" maxQueryStringLength="2097151" maxUrlLength="10999" targetFramework="4.5" />
    <sessionState mode="InProc" cookieless="false" timeout="99999" />
    <customErrors mode="Off"/>
    <!--<customErrors defaultRedirect="View/Error/Error.html" mode="RemoteOnly" />-->
    <pages controlRenderingCompatibilityVersion="4.0" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" /> <!--50000000 max length json stringfy-->
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
		<add name="Access-Control-Allow-Credentials" value="true" />
		<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="FocaEntities" connectionString="metadata=res://*/Model.FocaModel.csdl|res://*/Model.FocaModel.ssdl|res://*/Model.FocaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.unydata.com;initial catalog=Foca;persist security info=True;user id=cooper;password=admmaster;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FocaConnectionString" connectionString="Data Source=mssql.unydata.com;Initial Catalog=Foca;Persist Security Info=True;User ID=cooper;Password=admmaster"
      providerName="System.Data.SqlClient" />
    <add name="FocaConnectionString1" connectionString="Data Source=192.168.0.195,7500;Initial Catalog=Foca;Persist Security Info=True;User ID=sa;Password=admmaster"
      providerName="System.Data.SqlClient" />
    <add name="FocaConnectionString2" connectionString="Data Source=eduardolira;Initial Catalog=Foca;Persist Security Info=True;User ID=sa;Password=admmaster"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>